body{
    margin: 0;
    padding: 0;
}
.navbar{
    border: 2px solid black;
}

/* .logo{
    margin-left: -50px;
    padding-left: -10px;
    position: relative;
} */

.logo-name{
    color: black;
    font-family: cursive;
    padding-left: 100px;
    font-size: xx-large;
    font-size: 70px;
    
    
}
.navbar-nav{
       font-family: cursive;
       text-align: end;
       color: white;
}
#navMenu{
    padding: 0px;
}